<h1> Your Hero! </h1>
<h3> Name: <%= @hero.name %></h3>

<div> HP: <%= @hero.hp %> </div>
<div> Attack Power: <%= @hero.attk_val %> </div>
<div> Defense Power: <%= @hero.def_val %> </div>
<div> Experience Points: <%= @hero.exp_total %> </div>

<%= link_to "Embark on Your Adventure!", "home" %>
