<h1>Upgrade Your Item Here</h1>

<h3><%= @item.name %> will cost <%= @item.upg_exp_cost.to_i %> exp points to upgrade. 
Upgrading it will increase its bonus to your <%= @item.stat_name %> by <%= @item.upg_amt %> 
to a total of <%= @item.bonus + @item.upg_amt %></h3>
<h3> Would you like to upgrade it? </h3>
